<!-- this is the footer section -->
	<footer>
		<div class="site-footer">
			<div class="social">
				<a href="https://twitter.com/search?q=%23teampuertorico" target="_blank
				" class="twitter">Twitter</a>
				<a href="{{@blog.url}}/rss/" class="rss">RSS</a>
			</div>
			<div class="copyright">
				<a href="/">{{@blog.title}}</a> &copy; 2014
			</div>
		</div>
	</footer>
	<!-- this is the footer section -->