<!-- this is the footer section -->
	<footer>
		<div class="site-footer">
			<div class="social">
				<a href="#" class="facebook">Facebook</a>
				<a href="#" class="twitter">Twitter</a>
				<a href="#" class="google">Google+</a>
				<a href="{{@blog.url}}/rss/" class="rss">RSS</a>
			</div>
			<div class="copyright">
				<a href="/">{{@blog.title}}</a> &copy; 2013
			</div>
		</div>
	</footer>
	<!-- this is the footer section -->