<nav>
	<a href="/" title="Go to Home">Home</a> &middot;
	<a href="/about" title="Go to About">About</a> &middot;
	<a href="/contact">contact</a>
	<br/>
	<a href="http://eepurl.com/Ncpu1" target="_blank">subscribe to newsletter</a>
<nav>